{% extends "base.html" %}

{% block content%}
{% load static %}

<!--ver_0.0 <main class="container">
    <div class="row">
        <div align="center">
            <h1>IPSKIOS - Roboq</h1>
            <h2>Transform Excel data into USPTO's IDS form compatible XML</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <iframe src="{% static 'app_home/updated_IDS_.pdf' %}" style="width: 100%; height: 35rem;" frameborder="1"></iframe>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12" align="center"><h3>1. Data in defualt template</h3></div>
            </div>
            
            <div class="row">
                <iframe src="https://onedrive.live.com/embed?resid=674CF8B68A2A24CC%2197433&authkey=%21AGLsbBUiotRpYWg&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True" frameborder="1" style="width: 100%; height: 8rem;"></iframe>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h3>⬇️</h3></div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h3>2. Roboq transform data into XML</h3></div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h3>⬇️</h3></div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h3>3. Download & import XML into PDF</h3></div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h3>⬇️</h3></div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" align="center"><h2 style="font-weight: bold;">DONE !</h2></div>
            </div>
        </div>
    </div>
    <hr>
    <div align="center"><a class="btn btn-success btn-lg" href="#" role="button"><h3>Signin/ Signup to transform your data</h3></a></div>
</main> -->

<!-- ver_1.0 -->
<main class="container banner">
    <style>
        .h0{
            font-size: 15rem;
        }
        .h1 {
            font-size: 5rem;
        }
        .h2 {
            font-size: 4.5rem;
        }
        .h3 {
            font-size: 4rem;
        }
        .h4 {
            font-size: 3.5rem;
        }
        .h5 {
            font-size: 3rem;
        }
        .h6 {
            font-size: 2.5rem;
        }
        .h7 {
            font-size: 2rem;
        }
        .h8 {
            font-size: 1.5rem;
        }
        
    </style>
    <div class="row" style="height: 10%;">
    </div>
    <div class="row">
        <div align="center">
            <span class="h5">How's your <strong>USPTO-IDS</strong> preparation process</span>
        </div>
    </div>
    <div class="row" style="height: 10%;">
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div align="right">
                    <span class="h6"><strong>TEDIOUS 😞</strong></span>
                </div>
            </div>
            <div class="row" style="height: 5%;"></div>
            <div class="row">
                <div align="center">
                    <span class="h4"><strong>EXPENSIVE</strong></span>
                </div>
            </div>
            <div class="row" style="height: 10%;"></div>
            <div class="row">
                <div align="left">
                    <span class="h5"><strong>ERROR-Prone 🤯</strong></span>
                </div>
            </div>
            <div class="row">
                <div align="right">
                    <span class="h5"><strong>REPETITIVE 🤖</strong></span>
                </div>
            </div>
        </div>
        <div class="col-4" align="center">
            <div class="h0 align-middle">?</div>
        </div>
        <svg
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg5"
   sodipodi:docname="poster.svg"
   inkscape:version="1.1 (ce6663b3b7, 2021-05-25)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#ffffff"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="1"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="0.75187991"
     inkscape:cx="130.33996"
     inkscape:cy="561.92484"
     inkscape:window-width="1848"
     inkscape:window-height="1016"
     inkscape:window-x="72"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:46.7427px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.16858"
       x="26.700464"
       y="97.273651"
       id="text2234"><tspan
         sodipodi:role="line"
         id="tspan2232"
         style="stroke-width:1.16858"
         x="26.700464"
         y="97.273651">How</tspan></text>
  </g>
</svg>
    </div>
    <svg></svg>
</main>

{% endblock%}